<article class="post">
    <div class="title">
        <a href="{{post.body}}" target="_blank">{{post.title}}</a>
        <span>{{post.body}}</span>
    </div>
    <div class="meta">
        {{post.user.username}}
        |
        <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
    </div>
</article>

{{#if loggedIn}}
<form class="comment-form">
<div>
    <textarea name="comment-body"></textarea>
</div>
<div>
    <button type="submit">add comment</button>
</div>
</form>
{{/if}}

{{> comments post.comments}}
<div class="comments">
    {{#each post.comments}}
    <section class="comment">
        <div class="meta">
            {{user.username}}
        </div>
        <div class="text">
            {{body}}
        </div>
    </section>
    {{/each}}
</div>
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}